<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>RareCrewTask</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <app-root>
      <h2>Employee Time Tracker</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Hours Worked</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let employee of employees | orderBy : '-hoursWorked'"
            [style.background-color]="getRowColor(employee.hoursWorked)"
          >
            <td>{{ employee.name }}</td>
            <td>{{ employee.hoursWorked }}</td>
          </tr>
        </tbody>
      </table>
    </app-root>
  </body>
</html>
